modules = ["python-3.11"]
[agent]
expertMode = true
integrations = ["python_gemini:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["c-ares", "cacert", "glibcLocales", "grpc", "libxcrypt", "openssl", "pkg-config", "zlib"]

[workflows]

[deployment]
deploymentTarget = "vm"
run = ["python", "main.py"]
build = ["uv", "sync", "--frozen"]

[[ports]]
localPort = 5000
externalPort = 80
